* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 64, 157);
  background: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(65 141 158) 38%, rgba(65, 141, 158, 1) 96%);
}

.menu {
  text-decoration: none;
  padding: 10px;
  display: block;
  margin: 0px auto;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

p {
  margin-top: 5px;
}

article img {
  padding: 5px;
}


.header {
  background-color: black;
  background-image: url(../img/comp.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 57px;
  box-shadow: 2px 2px 25px rgb(0, 0, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  padding-top: 2px;
  display: block;
  margin-top: 0;
  width: 60px;
}

.name {
  top: 10px;
  margin-left: 70px;
  color: white;
  font-family: 'Wallpoet', cursive;
  position: fixed;

}

.container {
  display: flex;
  margin-top: 94px;
  margin-right: 200px;
}

.navbar {
  padding: 50px;
  margin: 2px 400px auto 0;
  color: white;
}

.lista {
  list-style: none;
  text-decoration: none;
  padding: 20px;
  position: fixed;
  margin: auto;
}

.content {
  width: 50%;
  padding: 40px;
  color: white;
  margin: 30px 0px 50px;
  border-radius: 100px 5px 100px 5px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 5px 5px 20px black;
  background-image: url(../img/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-circle {
  width: 50px;
  filter: invert(100%);

}


.img-links {
  text-decoration: none;

}



.instagram {
  margin: 0 10px;
}

.logo2 {
  width: 60px;
  margin-left: 560px;
  margin-bottom: -7px;
}

footer {
  text-align: center;
  background-image: url(../img/back.png);
  color: rgba(255, 255, 255, 0.671);
  padding: 10px;
  bottom: 0;
  position: fixed;
  width: 100%;
}